.job-container {
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin-top: 30px;
        gap: 30px;
        row-gap: 50px;
}
.job-card {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000015;
    transition: .3s;
    animation: fadein 2s;
    height: 17rem;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.job-card:hover {
    transform: translateY(-10px);
}
.job-link {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}
.apply-btn {
    background: green;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transition: background 0.3s ease, transform 0.2s ease;
}

.apply-btn:hover {
    background: darkgreen; /* Darker shade on hover */
    transform: scale(1.05); /* Slight zoom effect */
}

.apply-btn:active {
    transform: scale(0.95); /* Shrink effect when clicked */
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .pagination button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .search {
    padding: 8px;
    margin-top: 20px;
    border: 2px solid #007bff;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    background-color: #f9f9f9;
    color: #333;
  }
  .search:focus {
    border-color: #0056b3;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
  }